{
    "grant_type": "client_credentials",
    "client_id": "{{ marketingcloud_api_client_id }}",
    "client_secret": "{{ marketingcloud_api_client_secret }}",
    "account_id": "{{ marketingcloud_api_account_id }}"
}
